<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694636494456-oo3eoo4upogde1ecdt6q9fvrsvrovenq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694636494456-oo3eoo4upogde1ecdt6q9fvrsvrovenq</string>
	<key>API_KEY</key>
	<string>AIzaSyAVJvyc-7Wbu7xASIXEnQ4x5vX9mWACWi8</string>
	<key>GCM_SENDER_ID</key>
	<string>694636494456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marvinhidalgo.dojoTestApp</string>
	<key>PROJECT_ID</key>
	<string>dojo-test-app-c311e</string>
	<key>STORAGE_BUCKET</key>
	<string>dojo-test-app-c311e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694636494456:ios:ad424be8685c998facb78d</string>
</dict>
</plist>